[Unit]
Description=Dask Worker

[Service]
Type=simple
ExecStart={{ ansible_env.HOME }}/anaconda3/bin/dask-worker {{ hostvars[groups['master'][0]]['ansible_default_ipv4']['address'] }}:8786
After=network.target
User={{ ansible_user_id }}

[Install]
WantedBy=multi-user.target
